body {
    background-color: rgb(211, 54, 54);
    font-family: monospace;
}
.nav {
    padding: 10px;
    background-color: rgb(46, 46, 46);
    width: 600px;
    height: 700px;
    border-radius: 10px;
    text-align: center;
    margin: 0 auto;
    color: white;
    border-color: rgb(255, 255, 255);
}

.botao-link {
    width: 80px;
    height: 20px;
    background-color: #bdbdbd;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s;
    display: inline-block;
  }
  
  .botao-link:hover {
    background-color: #3b3b3b;
  }
  
.back {
    background-color: rgb(211, 54, 54);
    font-family: monospace;
}

.img1 {
    width: 180px;
    height: 250px;
}
.img2 {
    width: 280px;
    height: 180px;
}
.img3 {
    width: 200px;
    height: 200px;
}
.img4 {
    width: 180px;
    height: 250px;
}